estilo1.css
/*1. Existem várias bibliotecas CSS disponíveis para uso gratuito. Entre elas, destacam-se:
a. Bootstrap (https://getbootstrap.com);
b. Tailwind (https://tailwindcss.com);
c. Foundation (https://get.foundation).
Explore o site dessas três bibliotecas CSS para conhecê-las e, ao fim, crie um documento HTML simples
para vincular cada uma dessas bibliotecas de forma absoluta usando um repositório CDN. Se sentir
dificuldade, basta digitar o nome da biblioteca seguido por “CDN” no Google e certamente você obterá o
link para a biblioteca em algum CDN. Ao fim dessa prática, você deverá ter 3 arquivos HTML, sendo que,
cada arquivo HTML deve fazer referência a uma das 3 bibliotecas.
2. Crie um seletor CSS para cada uma das abrangências a seguir:
a. Elementos do tipo H1;
b. Elementos da classe “destacado”;
c. Elementos com ID igual a “txtNome”;
d. Elementos dos tipos P e H2 e da classe “textoSimples”;
e. Todos os elementos de uma página HTML;
f. Elementos do tipo I que sejam descendentes de um elemento do tipo P;
g. Elementos do tipo STRONG que sejam filhos de um elemento do tipo P */

h1 {
    color: lightblue;
    text-align: center;
    margin: 20px;
}

.textoSimples {
    font-size: 15px;
    font-family: Verdana, Arial, sans-serif;
    color: blue;
}
#txtNome{
    color:brown;
    text-align: center;
}
p >i {
    background-color: rgb(226, 215, 58);
    color: red;

}