
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.vertical{
   margin: 15px;
}
.tamanho{
    width: 20px;
}
.textDest{
    background-color: dimgrey;
    font-family: Montserrat ;
    margin: 10px;
    color: black;
}
p > i:hover {
    margin: auto;
color: blue;
background-color: darkgray;    
}
footer p{
    color:black;
    text-align: center;
}    