:root {
    --russian-violet: #bf616a;
    --russian-violet-2: #5e81ac;
    --russian-violet-3: #434c5e;
    --dark-purple: #3b4252;
    --xiketic: #d8dee9;
}

body {
    background-color: var(--dark-purple);
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-image: url(img/black-thread.png);
}

h1, h2, h3 , h4, h5, h6 {
    color: var(--xiketic);
}

p {
    color:var(--russian-violet-2);
}

a {
    color : var(--russian-violet);
    text-decoration: none;
}

header, footer {
    background-color: var(--russian-violet-3);
    padding: 10px;
    text-align: center;
    border: 2px groove #d8dee9;
}

main {
    padding: 10px;
}